
.menu-option {
    text-align: left;
    padding-left: 20px;
     
    
  }
  
  .subcategory{
    height: 0.1px;
  }
  
  .category-break {
  
  }
  
  
  
  .hamburger-menu {   
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
  }
  
  .hamburger-menu .bar {  
    width: 25px;
    height: 3px;
    background-color: black;  
    margin: 4px 0;
    transition: 0.4s; 
  }